<!-- Views/Shared/Components/CategorySelect/Default.cshtml -->
@model SelectList

<select name="categoryId" class="form-select me-2" style="width: auto;">
    <option value="">All Categories</option>
    @foreach (var category in Model)
    {
        <option value="@category.Value">@category.Text</option>
    }
</select>